// Colors
$color-primary: hsl(53deg, 100%, 62%);
$color-primary-light: hsl(54deg, 100%, 88%);
$color-primary-dark: hsl(43deg, 96%, 58%);

$color-white: hsl(1deg, 1%, 98%);

$color-secondary: hsl(1deg, 1%, 46%);
$color-secondary-light: hsl(1deg, 1%, 74%);
$color-secondary-dark: hsl(1deg, 1%, 13%);

$padding: clamp(10rem, 9vw, 20rem);
